:root {
    --brand-red: #E44275;
    --brand-blue: #B47FB6;
    --brand-dark-blue: #2E2166;
}

/* background */
.bg-brand-red {
    background-color: var(--brand-red) !important;
}

.bg-brand-blue {
    background-color: var(--brand-blue) !important;
}

.bg-brand-dark-blue {
    background-color: var(--brand-dark-blue) !important;
}

/* Text color */
.text-brand-red {
    color: var(--brand-red) !important;
}

.text-brand-blue {
    color: var(--brand-blue) !important;
}

.text-brand-dark-blue {
    color: var(--brand-dark-blue) !important;
}

/* Border colors */
.border-brand-red {
    border-color: var(--brand-red) !important;
}

.border-brand-blue {
    border-color: var(--brand-blue) !important;
}

.border-brand-dark-blue {
    border-color: var(--brand-dark-blue) !important;
}